<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lalaland.ecommerce">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".LalalandApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".views.activities.OrderDetailActivity"
            android:label="@string/title_activity_order_detail"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"></activity>
        <activity
            android:name=".views.activities.OrderListingActivity"
            android:label="@string/title_activity_order_listing"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".views.activities.SelectCityActivity"
            android:label="@string/title_activity_select_city"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity android:name=".views.activities.EditAccountInformationActivity" />
        <activity android:name=".views.activities.AccountInformationActivity" />
        <activity android:name=".views.activities.AddressCreationActivity" />
        <activity android:name=".views.activities.ShippingAddressActivity" />
        <activity
            android:name=".views.activities.CheckoutScreen"
            android:label="@string/title_activity_checkout_screen"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".views.activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activities.ActionProductListingActivity"
            android:label="@string/title_activity_product_listing"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".views.activities.ProductDetailActivity"
            android:label="@string/title_activity_product_detail"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" /> <!-- for facebook login -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".views.activities.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activities.MainActivity"
            android:label="@string/app_name" />
    </application>

</manifest>